/* Adapted from http://codepen.io/wallaceerick/pen/ojtal and http://www.hongkiat.com/blog/css-content-accordion/ */

@import url("http://fonts.googleapis.com/css?family=Lato");

/* Asterisk: for all elements */
* {
  margin: 0;
  padding: 0;
  /* Border and padding included in element's total width and height */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: left;
  font-family: Lato;
  color: #fff;
  background: #B2B2B2;
  width: 100%;
}

section {
  display: block;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 0 0 100px 10px;
}

h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.tabs {
  width: auto;
  height: auto;
  top: 10px;
  bottom: 0;
  left: 20px;
  right: 20px;
  float: none;
  list-style: none;
  position: absolute;
  margin: 80px 10px 80px 10px;
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
}

/* We don't want the actual radio button to be visible, so move it off screen */
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 5px 10px;
  border-radius: 2px 2px 0 0;
  border-style: solid;
  border-width: 1px;
  border-color: #486194;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  background: #506CA5;
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs label:hover {
  background: #486194;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 30px;
  left: 0;
  background: #002469;
  padding-bottom: -180px;
}

.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 6px;
  background: #002469;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.accordion { 
     width: 100%;
     height: auto;
     overflow: hidden; 
     margin: 10px auto;
     background: transparent; 
     padding:10px; 
}

.accordion section { 
      float: left;
      overflow: hidden; 
      color: #333; 
      background: #5e6062; 
      margin: 3px; 
      width: 100%; 
      max-height: 40px;
      -webkit-transition: max-height 2s ease-out;
      -moz-transition: max-height 2s ease-out;
      -o-transition: max-height 2s ease-out;
      transition: max-height 2s ease-out;
}

.accordion section:hover {
      background:#444;
}

.accordion section:target { 
      background: #B2B2B2; 
      padding: 10px;
      max-height: 800px;
      position: relative;
      color: #000;
      font-size: 13px;
}

.accordion section h2 a {
      cursor: pointer; 
      padding: 9px 10px;
      display: block; 
      font-size: 13px; 
      font-weight: normal;
      color: #FFF; 
      text-decoration:none; 
      text-transform: uppercase;
}

.accordion section:target h2 a { 
      color: #333; 
      padding: 0;
}

.accordion section p {
      display: none;
}

.accordion section:target p {
      display: block;
}

.footer {
  position: absolute;
  font-size: 10px;
  bottom: 1px;
  left: 30px;
} 
